<div class="login-container">
    <h3>SignIn</h3>
    <label for="username">Username: </label>
    <input type="text" id="username" [(ngModel)]="username"><br>

    <label for="password">Password: </label>
    <input type="password" id="password" [(ngModel)]="password"><br>

    <button (click)="login()">Login</button>
</div>

<br><br>
<div class="demo-account">
    <h3>Demo Account of Student</h3>
    <strong>Username:</strong> abc <br>
    <strong>Password:</strong> 123
</div>

<br><br>

<div class="demo-account">
    <h3>Demo Account of Trainer</h3>
    <strong>Username:</strong> pqr <br>
    <strong>Password:</strong> 456
</div>
